<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Studentlist</display-name>
    <servlet-name>Studentlist</servlet-name>
    <servlet-class>servlet.Studentlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Studentlist</servlet-name>
    <url-pattern>/Studentlist</url-pattern>
  </servlet-mapping>
  <display-name>FullStackWebJDBC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentById</display-name>
    <servlet-name>StudentById</servlet-name>
    <servlet-class>servlet.StudentById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentById</servlet-name>
    <url-pattern>/StudentById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addStudent</display-name>
    <servlet-name>addStudent</servlet-name>
    <servlet-class>servlet.addStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStudent</servlet-name>
    <url-pattern>/addStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteStudent</display-name>
    <servlet-name>deleteStudent</servlet-name>
    <servlet-class>servlet.deleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteStudent</servlet-name>
    <url-pattern>/deleteStudent</url-pattern>
  </servlet-mapping>
</web-app>